@import "formBase";

h1 {
  display: flex;
  justify-content: center;
  color: white;
}

.loginButton {
  visibility: hidden;
}

.loginBlock {
  height: 350px;
  margin: 50px auto auto;
  .forgotPassword {
    text-align: left;
    color: $primary-color;
  }

  .newAccount {
    text-align: center;
    color: blue;
  }
}