@import "formBase";


.loginButton {
  visibility: hidden;
}

.loginBlock {
  height: 350px;

  .forgotPassword {
    text-align: left;
    color: $primary-color;
  }

  .newAccount {
    text-align: center;
    color: blue;
  }
}