@import "flexBase";
@import "linkStyling";
@import "signBase";

.signBlock {
  border-style: double;
  border-radius: 5px 5px 5px 5px;

  height: 350px;

  word-wrap: break-word;
  white-space: pre-line;

  text-align: center;
}

.signBlock__name {
  font-weight: bold;
  font-size: 20px;
  height: 10%;
}

.signBlock__description {
  margin-top: auto;
}

.signBlock__description img {
  width: 100px;
}

@media only screen and (max-width: 1180px) {

  .signContainer {
    @include size-scale(650px);
  }

  .signBlock {
    flex-basis: 40%;
  }
}

@media only screen and (max-width: 900px) {

  .signContainer {
    @include size-scale(500px);
    column-gap: 50px;
  }

  .signBlock__name {
    font-size: 15px;
  }
}

@media only screen and (max-width: 500px) {

  .signContainer {
    @include size-scale(300px);
    column-gap: 5px;
  }

  .signBlock {
    flex-basis: 30%;
    height: 180px;
    font-size: 8px;
  }

  .signBlock__name {
    font-size: 10px;
  }

  .signBlock img {
    width: 50px;
    height: 50px;
  }
}

@media only screen and (max-width: 340px) {

  .signBlock {
    height: 150px;
    font-size: 6px;
  }
}
