@import "flexBase";
@import "linkStyling";

.signCategoryBlock {

  border-style: solid;
  border-radius: 5px 5px 5px 5px;

  padding: 2px 2px 2px 2px;

  flex-basis: 30%;

  text-align: center;
}

.signCategoryDescription {

  width: 100%;
  word-wrap: break-word;
  white-space: pre-line;
}

@media only screen and(max-width: 1180px) {

  #signCategorySelection {
    @include size-scale(650px);
  }

  .signCategoryBlock {
    flex-basis: 50%;
  }
}


@media only screen and(max-width: 600px) {

  #signCategorySelection {
    @include size-scale(400px);
  }

  .signCategoryBlock {
    flex-basis: 80%
  }
}

@media only screen and(max-width: 400px) {

  #signCategorySelection {
    @include size-scale(300px);
  }
}
