@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
body {
  background-color: #24252A; }

header, header * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252A; }

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 0;
  right: 0;
  align-items: flex-start;
  background: transparent;
  padding: 20px 6%;
  transition: all .50s ease; }

.navButtons {
  position: relative;
  display: flex;
  top: 38px;
  list-style: none; }

.navButtons a:hover {
  color: #0088a9; }

.navButtons a:active {
  color: yellow; }

.navButtons a, .loginButton {
  text-align: center;
  display: block;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
  padding: 5px 0;
  margin: 0 20px; }

.homeButton {
  padding: 9px 25px; }

.loginButton {
  position: relative;
  padding: 9px 25px;
  border: none;
  border-radius: 50px;
  background-color: #0088a9;
  cursor: pointer;
  top: 34px;
  transition: all .50s ease; }

.loginButton:hover {
  background-color: rgba(0, 136, 169, 0.5); }

.subMenuHighwayCode {
  position: relative;
  background-color: #0088a9;
  display: none;
  list-style: none;
  border: none;
  top: 15px;
  line-height: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px; }

nav ul li:hover ul {
  display: block; }

.subMenuHighwayCode a:hover {
  color: #0088a9; }

div.textHomePage {
  height: 800px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
  padding: 5px 0;
  margin: 0 20px;
  transition: all .50s ease; }

.dropNav {
  color: white;
  font-size: 34px;
  cursor: pointer;
  display: none; }

#checkNav {
  display: none; }

@media (max-width: 1304px) {
  .navBar {
    height: 100px; }

  .navButtons {
    text-align: center;
    display: block;
    position: relative;
    width: 100%;
    top: 60px;
    visibility: hidden;
    line-height: 80px;
    padding: 0 0 0 0; }

  .dropNav {
    position: relative;
    display: block;
    width: 100%;
    height: 20%;
    left: 45%;
    justify-content: center;
    align-items: center;
    line-height: 120px; }

  .navButtons a {
    font-size: 28px; }

  .subMenuHighwayCode {
    line-height: 50px;
    margin-bottom: 20px; }

  div.textHomePage {
    align-content: flex-end; }

  #checkNav:checked ~ .navButtons {
    visibility: visible; } }
@media (max-width: 800px) {
  .homeButton svg {
    height: 90px;
    width: 90px; }

  .navButtons a {
    font-size: 20px;
    padding: 0 0 0 0; }

  .navButtons {
    line-height: 60px;
    padding: 0 0 0 0;
    top: 50px; }

  .navButtons ul {
    padding: 0 0 0 0; } }
@media (max-width: 600px) {
  .homeButton svg {
    height: 65px;
    width: 65px;
    margin-top: 14px; }

  .dropNav {
    font-size: 28px; }

  .loginButton {
    font-size: 18px; }

  .navButtons a {
    font-size: 18px;
    padding: 0 0 0 0; }

  .navButtons {
    top: 45px;
    line-height: 60px;
    padding: 0 0 0 0; } }
@media (max-width: 400px) {
  .homeButton svg {
    height: 60px;
    width: 60px;
    margin-top: 18px; }

  .dropNav {
    font-size: 24px;
    line-height: 100px; }

  .loginButton {
    font-size: 16px; }

  .navButtons a {
    font-size: 18px;
    padding: 0 0 0 0; }

  .navButtons {
    top: 40px;
    line-height: 60px;
    padding: 0 0 0 0; } }
@media (max-width: 399px) {
  .homeButton svg {
    height: 30px;
    width: 30px;
    margin-top: 18px; }

  .dropNav {
    font-size: 10px;
    line-height: 100px; }

  .loginButton {
    font-size: 12px; }

  .navButtons a {
    font-size: 18px;
    padding: 0 0 0 0; }

  .navButtons {
    top: 40px;
    line-height: 60px;
    padding: 0 0 0 0; } }
::-webkit-scrollbar {
  width: 8px; }

::-webkit-scrollbar-track {
  background: #24252A; }

::-webkit-scrollbar-thumb {
  background: #0088a9; }

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 136, 169, 0.5); }

.flexBlock {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 10vh;
  column-gap: 100px;
  width: 1200px;
  height: 600px; }

.flexBlock__container {
  flex: 0 0 25%; }

body {
  background-color: #24252A; }

header, header * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252A; }

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 0;
  right: 0;
  align-items: flex-start;
  background: transparent;
  padding: 20px 6%;
  transition: all .50s ease; }

.navButtons {
  position: relative;
  display: flex;
  top: 38px;
  list-style: none; }

.navButtons a:hover {
  color: #0088a9; }

.navButtons a:active {
  color: yellow; }

.navButtons a, .loginButton {
  text-align: center;
  display: block;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
  padding: 5px 0;
  margin: 0 20px; }

.homeButton {
  padding: 9px 25px; }

.loginButton {
  position: relative;
  padding: 9px 25px;
  border: none;
  border-radius: 50px;
  background-color: #0088a9;
  cursor: pointer;
  top: 34px;
  transition: all .50s ease; }

.loginButton:hover {
  background-color: rgba(0, 136, 169, 0.5); }

.subMenuHighwayCode {
  position: relative;
  background-color: #0088a9;
  display: none;
  list-style: none;
  border: none;
  top: 15px;
  line-height: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px; }

nav ul li:hover ul {
  display: block; }

.subMenuHighwayCode a:hover {
  color: #0088a9; }

div.textHomePage {
  height: 800px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
  padding: 5px 0;
  margin: 0 20px;
  transition: all .50s ease; }

.dropNav {
  color: white;
  font-size: 34px;
  cursor: pointer;
  display: none; }

#checkNav {
  display: none; }

@media (max-width: 1304px) {
  .navBar {
    height: 100px; }

  .navButtons {
    text-align: center;
    display: block;
    position: relative;
    width: 100%;
    top: 60px;
    visibility: hidden;
    line-height: 80px;
    padding: 0 0 0 0; }

  .dropNav {
    position: relative;
    display: block;
    width: 100%;
    height: 20%;
    left: 45%;
    justify-content: center;
    align-items: center;
    line-height: 120px; }

  .navButtons a {
    font-size: 28px; }

  .subMenuHighwayCode {
    line-height: 50px;
    margin-bottom: 20px; }

  div.textHomePage {
    align-content: flex-end; }

  #checkNav:checked ~ .navButtons {
    visibility: visible; } }
@media (max-width: 800px) {
  .homeButton svg {
    height: 90px;
    width: 90px; }

  .navButtons a {
    font-size: 20px;
    padding: 0 0 0 0; }

  .navButtons {
    line-height: 60px;
    padding: 0 0 0 0;
    top: 50px; }

  .navButtons ul {
    padding: 0 0 0 0; } }
@media (max-width: 600px) {
  .homeButton svg {
    height: 65px;
    width: 65px;
    margin-top: 14px; }

  .dropNav {
    font-size: 28px; }

  .loginButton {
    font-size: 18px; }

  .navButtons a {
    font-size: 18px;
    padding: 0 0 0 0; }

  .navButtons {
    top: 45px;
    line-height: 60px;
    padding: 0 0 0 0; } }
@media (max-width: 400px) {
  .homeButton svg {
    height: 60px;
    width: 60px;
    margin-top: 18px; }

  .dropNav {
    font-size: 24px;
    line-height: 100px; }

  .loginButton {
    font-size: 16px; }

  .navButtons a {
    font-size: 18px;
    padding: 0 0 0 0; }

  .navButtons {
    top: 40px;
    line-height: 60px;
    padding: 0 0 0 0; } }
@media (max-width: 399px) {
  .homeButton svg {
    height: 30px;
    width: 30px;
    margin-top: 18px; }

  .dropNav {
    font-size: 10px;
    line-height: 100px; }

  .loginButton {
    font-size: 12px; }

  .navButtons a {
    font-size: 18px;
    padding: 0 0 0 0; }

  .navButtons {
    top: 40px;
    line-height: 60px;
    padding: 0 0 0 0; } }
::-webkit-scrollbar {
  width: 8px; }

::-webkit-scrollbar-track {
  background: #24252A; }

::-webkit-scrollbar-thumb {
  background: #0088a9; }

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 136, 169, 0.5); }

a:link {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

a:visited {
  color: white; }

a {
  color: white;
  border-color: #0088a9; }

.countryBlock {
  border-radius: 10px;
  border-style: solid;
  text-align: center;
  font-size: 3vw;
  height: 70%;
  display: block; }

.countryBlock__image {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: block; }

@media only screen and (max-width: 1180px) {
  .selectionTab {
    width: 650px;
    height: 325px; } }
@media only screen and (max-width: 600px) {
  .selectionTab {
    width: 300px;
    height: 150px; } }
@media only screen and (max-width: 340px) {
  .selectionTab {
    width: 200px;
    height: 100px; }

  .countryBlock {
    border-radius: 5px 5px 5px 5px; } }
@media only screen and (max-width: 200px) {
  .selectionTab {
    width: 100px;
    height: 50px;
    column-gap: 0; }

  .countryBlock {
    flex-basis: 60%;
    height: 100%;
    font-size: 10px; }

  .countryBlock__image {
    width: 60%; } }
@media only screen and (min-width: 2000px) {
  .countryBlock {
    font-size: 70px; } }

/*# sourceMappingURL=streetSignPage.css.map */
