@import "formBase";



.resetPasswordBlock {
  height: 370px;

  .explanation {
    margin-top: 30px;
    text-align: center;
    color: white;
  }

  .oldAccount {
    text-align: center;
    color: white;
  }
}