@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

$gradientColor: linear-gradient(to right, rgb(113, 194, 255) 5%, rgb(52, 88, 119));
$hoverColor: #0088a9;
$backgroundColor: #24252A;
$subMenuBoxShadowColor: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$loginButtonColor: rgba(0, 136, 169, 1);
$loginButtonHoverColor: rgba(0, 136, 169, 0.5);

body {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: $backgroundColor;
}

.welcomeMessage {
  width: 100%;
  margin-top: 150px;
  text-align: center;
  position: absolute;
  background: $gradientColor;
}

.rankBlock .firstTop {
  margin-top: 10px;
}

.rankBlock ol {
  padding-top: 10px;
  padding-bottom: 10px;
}

.rankBlock .learningRanks {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  padding-left: 25px;
  margin: 0 20px;
}

.mainBlock {
  overflow: scroll;
  height: 600px;
  padding-top: 10px;
  margin-top: 220px;
  margin-right: 30px;
  margin-left: 30px;
  border-radius: 8px;
  border-style: double;
  border-color: $loginButtonColor;
  width: 800px;
  box-shadow: $subMenuBoxShadowColor;
}

.tipBlock {
  height: 100%;
  padding-top: 10px;
  margin-top: 320px;
  width: 80%;
  flex-basis: 20%;
  margin-right: 30px;
  margin-left: 30px;
  border-radius: 8px;
  border-style: double;
  border-color: $loginButtonColor;
  box-shadow: $subMenuBoxShadowColor;
}

.rankBlock {
  height: 100%;
  padding-top: 10px;
  margin-top: 320px;
  width: 80%;
  flex-basis: 20%;
  margin-right: 30px;
  margin-left: 30px;
  border-radius: 8px;
  border-style: double;
  border-color: $loginButtonColor;
  box-shadow: $subMenuBoxShadowColor;
}

.tipBlock h1, .mainBlock h1, .rankBlock h1, .welcomeMessage h1 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 28px;
  text-decoration: none;
  text-align: center;
  padding: 5px 0;
  margin: 0 20px;
}

.tipBlock li, .mainBlock p, .rankBlock p {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
  padding: 5px 0;
  margin: 0 20px;
}

.tipBlock ul {
  list-style: none;
  padding-left: 15px;
}

.mainBlock .picNews1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 300px;
}

.mainBlock .titleNews {
  font-size: 20px;
}

.mainBlock .textNews {
  font-size: 16px;
}

.mainBlock .picNews2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 250px;
}

@media (max-width: 1314px){
  .tipBlock {
    width: 30%;
    height: 100%;
  }
  .tipBlock h1 {
    font-size: 20px;
  }
  .tipBlock ul {
    margin: 0;
    padding: 0;
  }
  .tipBlock ul li {
    font-size: 14px;
  }

  .mainBlock .titleNews {
    font-size: 20px;
  }
  .mainBlock .textNews {
    font-size: 14px;
  }

  .rankBlock {
    width: 30%;
    height: 100%;
  }
  .rankBlock h1 {
    font-size: 20px;
  }
  .rankBlock p, .rankBlock ol li {
  font-size: 14px;
  }
}

@media (max-width: 965px){
  .mainBlock .picNews1 {
    width: 200px;
    height: 120px;
  }
  .mainBlock .picNews2 {
    width: 200px;
    height: 150px;
  }
  //.tipBlock {
  //  flex-basis: 15%;
  //  height: 100%;
  //}
  //.tipBlock h1 {
  //  font-size: 20px;
  //}
  //.tipBlock ul {
  //  margin: 0;
  //}
  //.tipBlock ul li {
  //  font-size: 14px;
  //}
}

@media (max-width: 714px) {
  .mainBlock {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (max-width: 650px) {
  .welcomeMessage h1 {
    font-size: 20px;
  }
}

@media (max-width: 640px) {
  .mainBlock h1, .tipBlock h1, .rankBlock h1 {
    font-size: 16px;
    padding: 0;
  }

  .tipBlock ul li {
    font-size: 10px;
  }

  .mainBlock .titleNews {
    font-size: 14px;
  }

  .mainBlock .textNews {
    font-size: 10px;
  }

  .tipBlock {
    margin-left: 3px;
    margin-right: 5px;
  }

  .rankBlock {
    margin-left: 3px;
    margin-right: 5px;
  }
}

@media (max-width: 600px) {
  .mainBlock {
    //margin: 0;
  }
  .mainBlock .picNews1 {
    width: 120px;
  }

  .mainBlock .picNews2 {
    width: 120px;
    height: 100px;
  }

  .mainBlock .titleNews {
    font-size: 10px;
  }

  .rankBlock h1 {
    margin-left: 15px;
  }
  .rankBlock ol li {
    text-align: start;
    font-size: 10px;
  }
  .rankBlock .learningRanks {
    padding-left: 10px;
  }
  .rankBlock .firstTop {
    font-size: 12px;
  }
  .rankBlock .secondTop {
    font-size: 12px;
  }
}