@import "questionnaireBase";

.questionContainer__description__image {
  height: 90%;
}

.questionContainer__description__image * {
  border: none;
  margin-left: 5%;
  width: 90%;
  height: 500px;
}



#questionExplanation {
  margin-left: 10px;
  height: 10%;
  @include font-style(200%);
}

#questionExplanation .roadSignName {
  font-weight: bold;
  text-decoration: underline;
  text-underline: $text-color;
}
#questionExplanation {

  a:hover {
    text-decoration: underline;
  }
  a:visited {
    color: white;
  }
}

#questionExplanation .emphasizeMessage {
  color: red;
}

.questionContainer__answerBlock__answer {

  margin: 0 0 10px 15px;

  word-break: break-word;
  white-space: pre-line;
}

.questionContainer__answerBlock__answer--choice--selected {
  background-color: #2df5ff;
}

.questionContainer__answerBlock--long {
  width: 105%;
}

.formButtonsBlock__button {
  height: 40px;
}

.questionContainer__answerBlock__answer--count label {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 30px;
  word-wrap: break-word;
  white-space: pre-line;
}

.questionContainer__answerBlock__answer--count input {
  background-color: $backgroundColor;
  margin-left: 40%;
  height: 30px;
  width: 50px;
  @include font-style(30px);
  user-select: none;
}

.questionContainer__answerBlock__answer--count img {
  position: relative;
  top: 5px;
  width: 80px;
  height: 80px;
}

@media only screen and (max-width: 840px) {
  #questionExplanation {
    font-size: 170%;
  }
  .formButtonsBlock__button {
    height: 30px;
    font-size: 15px;
  }
  .questionContainer__answerBlock__answer--count label {
    font-size: 20px;
  }

  .questionContainer__answerBlock__answer--count input {
    top: -5px;
    font-size: 20px;
    width: 40px;
    height: 20px;
  }

  .questionContainer__answerBlock__answer--choice {
    font-size: 20px;
  }
}
@media only screen and (max-width: 640px) {
  .formButtonsBlock__button {
    font-size: 10px;
  }

  .questionContainer__answerBlock__answer--choice {
    font-size: 15px;
  }

  .questionContainer__answerBlock__answer--count label {
    font-size: 15px;
  }

  .questionContainer__answerBlock__answer--count {
    height: 65px;
  }

  .questionContainer__answerBlock__answer {
    margin-left: 5px;
  }
}

@media only screen and (max-width: 400px) {
  .questionContainer__answerBlock__choiceAnswer {
    margin-left: 7px;
  }

  #questionExplanation {
    font-size: 150%;
  }

  .formButtonsBlock__button {
    font-size: 8px;
  }

  .questionContainer__answerBlock__answer {
    margin-left: 5px;
    margin-bottom: 5px;
  }

  .questionContainer__answerBlock__answer--count label {
    font-size: 10px;
  }

  .questionContainer__answerBlock__answer--count input {
    font-size: 15px;
    height: 15px;
    width: 30px;
  }

  .questionContainer__answerBlock__answer--choice {
    font-size: 10px;
  }
}