@import "formBase";


.login {
  visibility: hidden;
}

.loginBlock {
  height: 350px;

  .forgotPassword {
    text-align: left;
    color: $primary-color;
  }

  .newAccount {
    text-align: center;
    color: blue;
  }
}

@media (max-width: 1304px) {
  #navigationBar {
      display: none;
  }
}