@import "flexBase";
$primary-color: #0088a9;
$background-color: #24252A;
$subMenuBoxShadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

body {
    background-color: $background-color;
}

$top-bar-colour: #71c2ff;
$menu-bar-colour: #ff7948;


.barBlock {
    font-size: 100px;
}

.topBarBlock {
    @include flex-display;
    gap: 1.5em;

    background-color: $top-bar-colour;

    height: 1em;

    font-size: 5px;

}

.topBarBlock > * {

    height: 1.25em;

    font-size: 80%;
}

#homeButton {
    margin-right: auto;
}

#loginButton {
    margin-right: 1em;
}


.menuBarBlock {
    gap: 1.5em;

    height: 1em;

    font-size: 70px;

    background-color: $menu-bar-colour;
}

.menuBarBlock > * {

    height: 1.25em;

    font-size: 30%;
}
