@import "navbar";
@import "flexBase";

.countryBlock {

  border-radius: 10px 10px 10px 10px;
  border-style: solid;

  text-align: center;

  font-size: 3vw;

  height: 60%;
  display: block;
}

.countryBlock__image {
  @include horizontally-centered;
  width: 80%;
  height: auto;
  border-style: none;
  display: block;
}

@media only screen and(max-width: 340px)
{
  .countryBlock {
    border-radius: 5px 5px 5px 5px;
  }
}

@media only screen and(max-width: 200px) {

  .countryBlock {
    height: 100%;
    font-size: 10px;
  }

  .countryBlock__image {
    width: 60%;
  }
}

@media only screen and(min-width: 2000px) {

  .countryBlock {
    font-size: 50px;
  }
}
