$secondary-color: #f44336;
$gradientColor: linear-gradient(to right, rgb(113, 194, 255) 5%, rgb(52, 88, 119));
$primary-color: #0088a9;
$background-color: #24252A;
$subMenuBoxShadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

body {
    background-color: $background-color;
    font-family: Arial, sans-serif;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    padding-left: 60px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid $primary-color;
    border-radius: 10px;
    box-sizing: border-box;
    color: white;
    background: $background-color;

    &:focus {
      box-shadow: inset 0px 0px 5px 5px rgba(26,188,156,0.25);
      outline-width: 0px;
    }
  }  

i {
    position: absolute;
    width: 47px;
    height: 41px;
    color: #fff;
    font-size: 18px;
    background: $primary-color;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px 0 0 0;
}

