$secondary-color: #f44336;

$gradientColor: linear-gradient(to right, rgb(113, 194, 255) 5%, rgb(52, 88, 119));
$primary-color: #0088a9;
$background-color: #24252A;
$subMenuBoxShadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

body {
  background-color: $background-color;
  font-family: Arial, sans-serif;
}

.registerBlock {
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  background-color: $background-color;
  border-radius: 5px;
  border-style: solid;
  border-color: $primary-color;
  box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.3);
  padding: 20px;
  max-width: 400px;
  height: 570px;

  h1 {
    text-align: center;
    color: white;
  }

  

  .form-container {
    label {
      display: block;
      margin-bottom: 1px;
      color: white;
    }

    input[type=text],
    input[type=password] {
      width: 100%;
      padding: 12px 20px;
      padding-left: 60px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid $primary-color;
      border-radius: 10px;
      box-sizing: border-box;
      color: white;
      background: $background-color;

      &:focus {
        box-shadow: inset 0 0 5px 5px rgba(26,188,156,0.25);
        outline-width: 0;
      }
    }  
    
    .usernameContainer,
    .passwordContainer,
    .surnameContainer,
    .nameContainer,
    .emailContainer {
      position: relative;
      i {
        position: absolute;
        width: 47px;
        height: 41px;
        color: #fff;
        font-size: 18px;
        background: $primary-color;
        border-radius: 5px 0 0 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 8px 0 0 0;
      }
    }

    button {
      background-color: $primary-color;
      color: $background-color;
      padding: 14px 20px;
      margin: 15px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      width: 100%;

      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }
  }

  .oldAccount {
    color: white;
  }

  a:link {
    color: $primary-color;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  a:visited {
    color: $primary-color;
  }

  input::placeholder {
    color: white;
  }

  @media screen and (max-width: 600px) {
    max-width: 100%;
  }
}